body {
    font-family: Arial;
    background: #e5f2ff;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.container {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    background: #007bff;
    color: white;
    cursor: pointer;
}